/* stylelint-disable selector-list-comma-newline-after */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "My Chemical Romance2", "Playfair Disp lay", Georgia, "Times New Roman", serif
    /*rtl:Amiri, Georgia, "Times New Roman", serif*/
  ;
  font-size: 2.25rem;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "My Chemical Romance2", "Playfair Display", Georgia, "Times New Roman", serif
    /*rtl:Amiri, Georgia, "Times New Roman", serif*/
  ;
}

.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  margin-left: -103px;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}

@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

.blog-pagination>.btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}

.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #6c757d36;
  border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

/***MyCSS***/

/***Generales***/

@font-face {
  font-family: "My Chemical Romance";
  src: url(../fonts/the_chemical_parade_by_ravenblackhardt_dx3pzr.ttf);
}

@font-face {
  font-family: "My Chemical Romance2";
  src: url(../fonts/my_chemical_romance.ttf);
}

p {
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #727272;
  line-height: 30px;
}

a:hover {
  color: black;

}

/***Banner***/
#banner {
  height: 20vh;
}

#bannerImg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  text-align: end;
}

/***Carousel***/

#post {
  margin-top: 25px;
  margin-bottom: -460px;
}

responsiveImg {
  width: 200px;
  height: 200px;
  object-fit: fill;
}

.carousel {
  margin-bottom: 451px;
}

#texto1 {
  display: block;
}

.texto h5 {
  display: flex;
  height: 35px;
  width: 397px;
  background-color: #3d3c3c96;
  align-items: flex-end;
  align-content: center;
  justify-content: center;
  margin-left: -23px;

}

.texto a {
  color: white;
  text-decoration: none;
}

/***Aside***/

#aside {
  margin-left: 116px;
}



#nav {
  width: 678px;
}

/***Sections***/

#info a:hover {
  color: black;
}

.nombreMiembros {
  line-height: normal;
}

/***Footer***/

#footer .a1 {
  color: rgb(91, 145, 255);
}

#footer .a2 {
  color: rgba(255, 87, 87, 0.821);
}

#footer .b {
  color: rgb(184, 87, 184);
}

#footer a:hover {
  color: black;
}

#end {
  width: 140px;
  height: 56px;
  overflow: hidden;
  border: none;
  color: #000000;
  background: none;
  position: relative;
  padding-bottom: 2em;
}

#end>div,
#end>svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

#end:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

#end:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#end .clone>*,
#end .text>* {
  opacity: 1;
  font-size: 1.3rem;
  transition: 0.2s;
  margin-left: 4px;
}

#end .clone>* {
  transform: translateY(60px);
}

#end:hover .clone>* {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

#end:hover .text>* {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

#end:hover .clone> :nth-child(1) {
  transition-delay: 0.15s;
}

#end:hover .clone> :nth-child(2) {
  transition-delay: 0.2s;
}

#end:hover .clone> :nth-child(3) {
  transition-delay: 0.25s;
}

#end:hover .clone> :nth-child(4) {
  transition-delay: 0.3s;
}

/* icon style and hover */
#end svg {
  width: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-50deg);
  transition: 0.2s ease-out;
}

#end:hover svg {
  transform: translateY(-50%) rotate(-90deg);
}